html{
	font-size: 62.5%;
}
body{
	margin: 0;
	background-color: #68cdd5;
}
.back{
	margin: 20px 0 0 20px;
}
.logo{
	margin: 100px auto;
	text-align: center;
}
.text{
	width: 60%;
	margin: 150px auto;
	color: white;
	font-size: 1.8rem;
	text-align: center;
}
.footer{
	overflow: hidden;
	width: 60%;
	margin: 100px auto;
	text-align: center;
	font-size: 1.8rem;
	color: white;
}
.group{
	float: left;
	text-align: center;
}
.about{
	float: right;
}