html{
	font-size: 62.5%;
}
body{
	margin: 0;
	width: 100%;
}
header{
	position: fixed;
	padding: 0.7rem 1rem;
	height: 3.2rem;
	line-height: 3.2rem;
	background-color: #5fc0cd;
	left: 0;
	right: 0;
	top: 0;
}
header a{
	color: #fff;
	text-decoration: none;
	font-size: 1.4rem;
}
header h2{
	text-align: center;
	margin: 0 4rem;
	font-size: 1.6rem;
	color: #fff;
}
.register{
	float: right;
}
.close{
	float: left;
}
main{
	position: absolute;
	top: 4.6rem;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #eff0f4;
}
main .content{
	height: auto;
	font-size: 1.2rem;
	width: 100%;
}
.login{
	margin: 1rem 0 0 0;
	width: 100%;
	background-color:  #fff;
}
.login input{
	font-size: 1.4rem;
	line-height: 5rem;
	border: none;
	padding-left: 8rem;
	outline: none;
}
.login input[type=text]{
	background: url(images/mobile.png) no-repeat;
	background-size: 5.9rem 5rem;
}
.login input[type=password]{
	background: url(images/password.png) no-repeat;
	background-size: 5.9rem 5rem;
}
.btn-login{
	width: 100%;
	line-height: 5rem;
	background-color: #5fc0cd;
	margin: 3rem 0 0 0;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	border: none;
}
.forget{
	float: right;
	padding: 0 1rem;
	color: #5fc0cd;
}
